{% extends "base.html" %}
{% load static %}

{% block title %}
{{quiz.nom}}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'quizz/style.css'%}" >
{% endblock styles %}

{% block content %} 
  
<div class="flex_box">
  <div class="row justify-content-center" id="plateau-quiz" >
    <div class="simple_content timer" id="s-content">
      <h3 class="fancy_font fancy_line" id="timer-zone"></h3>
      <h3 class="fancy_font fancy_line" > Score : <span id="score"> 0 </span></h3>
      <h3 class="fancy_font fancy_line" > Réussite <span id="reussite"></span></h3>
    </div>
  </div>
  <div class="result_card" id="res-card">
    <div class="card_front">
      <h1 class="card_title" id="message">...</h1>
      <p class="subtitle" id="flaterie">...</p>
      <h3 class="fancy_font " id="new-timer-zone"></h3>
      <h3 class="fancy_font " > Score : <span id="new-score"> 0 </span></h3>
      <h3 class="fancy_font " > Réussite <span id="new-reussite"></span></h3>
    </div>
    <div class="card_back">
      <button class="fancy_btn fancy_font gold_bg" onclick="rejouer()">
        Recommencer
      </button>

      <button class="fancy_btn fancy_font restart_bg" onclick="autre_quiz()">
        Autre Quiz
      </button>

    </div>
  </div>
</div>
  
{% endblock content %}

{% block scripts %}
    <script src="{% static 'quizz/quiz.js' %}" refer>
    </script>
{% endblock scripts %}